.logo{
    width: 150px;
}
.contenedor-registro{
    padding-top: 50px;
    padding-bottom: 50px;
}
.alerta-titulo{
    font-size: 10px;
}
.caja-texto{
    /* margin-top: 1.5rem; */
}
canvas {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    border-radius: 4px;
    border: 1px solid black;
}

.btn-app{
    background-color: #b4ca32;
    color: white;
    width: 100%;
}
.btn-app_{
    background-color: #b4ca32;
    color: white;
}
.btn-app:hover{
    background-color: #208c87;
    color: white;
}
.btn-app_:hover{
    background-color: #208c87;
    color: white;
}
.color_alert{
    color: #ffc107;
}
.color-verde{
    background-color: #178985;
    color: white;
}
.color-naranja{
    background-color: #FF980A;
    color: white;
}
.color-gris{
    background-color: #454547;
    color: white;
}
.mensaje-alerta{
    color:white;
    padding: 5px;
    border-radius: 5px;
}
.contenedor-login-registros{
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.color-rojo{
    color:white;
    font-weight: 700;
    background-color: red;
    margin-bottom: 10px;
}
.alert{
    color:#208c87;
}
.btn-cerrar{
    background-color: #178985;
    color: white !important;
    border: none;
    border-radius: 5px;
}
/* .btn-cerrar:hover{
    -webkit-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.19); 
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.19);
} */
#vista{
    padding-top: 40px;
    padding-bottom: 40px;
}