.logo{
    width: 150px;
}
.contenedor-registro{
    padding-top: 50px;
    padding-bottom: 50px;
}
.alerta-titulo{
    font-size: 10px;
}
.caja-texto{
    /* margin-top: 1.5rem; */
}
canvas {
    position: relative;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    border-radius: 4px;
    border: 1px solid black;
}

.btn-app{
    background-color: #b4ca32;
    color: white;
}
.btn-app:hover{
    background-color: #208c87;
    color: white;
}
.color_alert{
    color: #ffc107;
}